*{
  margin: 0;
}

.button-primary{
  width: 160px;
  height: 56px;
  background: #FF5959;
  border-radius: 5px;
  border-color: #FF5959;
  color: #FAFAFA;
  font-weight: 600;
  font-size: 20px;
}
/* Header Style */
header{
  width: 1440px;
  height: 669px;
  background-image: url(../images/donation10.jpg);
  background-color: rgba(0, 0, 0, 0.63);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.header{
  text-align: center;
  color: #ffff;
  padding: 175px 307px;
}
.banner-title{
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 20px;
}
.banner-description{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Donate Now Style */
.donate-now{
  text-align: center;
  margin: 0 337px;
}
.donatenow-title{
  font-weight: 700;
  font-size: 45px;
  margin-top: 130px;
  margin-bottom: 20px;
}
.donatenow-description{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 50px;
}
.donate-tk-all {
    display: flex;
    gap: 22px;
    margin-bottom: 60px;
}

.donate-tk {
  width: 135px;
  height: 123px;
  background-color: #FAFAFA;
  border: 0;
  border-radius: 5px;
} 
.donate-tk button{
  background-color: transparent;
  border: 0;
  font-weight: 700;
  font-size: 30px;
  color: #707070;
  padding: 44px 23px;
}
.donate-tk button:hover, button:active{
  background: #FFEEEE;
  color: #FF5959;
  border: 2px solid #FF5959;;
  border-radius: 5px;
}

.other-amount {
  margin-bottom: 10px;
  color: #d2cdcd;
  font-size: 25px;
  border: 0;
}
hr{
  width: 765px;
  height: 0px;
  border: 1px solid #DADADA;
  margin-bottom: 30px;
}